.navbar-lewagon {
  justify-content: space-between;
  background-color: rgba($color: #4B0082, $alpha: 0.6);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
